<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="common-js">
        <!--[if lt IE 9]>
        <script th:src="@{/assets/global/plugins/respond.min.js}"></script>
        <script th:src="@{/assets/global/plugins/excanvas.min.js}"></script>
        <script th:src="@{/assets/global/plugins/ie8.fix.min.js}"></script>
        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script th:src="@{/assets/global/plugins/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/js.cookie.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/bootbox/bootbox.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/global/plugins/bootstrap-growl/jquery.bootstrap-growl.min.js}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script th:src="@{/assets/global/scripts/app.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/constant.js}" type="text/javascript"></script>
        <script th:src="@{/js/common-util.js}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script th:src="@{/assets/layouts/layout4/scripts/layout.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/layouts/layout4/scripts/demo.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/layouts/global/scripts/quick-sidebar.min.js}" type="text/javascript"></script>
        <script th:src="@{/assets/layouts/global/scripts/quick-nav.min.js}" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <!-- sidebar切换高亮 -->
        <script>
            $(function () {
                var active_id = window.location.pathname;
                var index = active_id.lastIndexOf("\/");
                active_id = active_id.substring(index + 1, active_id.length);
                $('#'+active_id).parents("li").addClass('active open');  //令所有父级元素open
            });
        </script>
    </div>
</html>